{% extends "main/homeProject.html" %}
{% load static %}
{% block link %}
    <link media="all" rel="stylesheet" href="../../static/css/newsProject.css">
    <link media="all" rel="stylesheet" href="../../static/images">
{% endblock link %}
{% block body %}
    <div class="zakat">
        <<img src="{% static 'images/zakat.jpg'%}" alt="">
        <div class="zakath"><h1> О нас </h1></div>
        <div class="zakatp"><p>много лет совершенствований</p></div>
    </div>
    <div class="balgarka">
        <div ><img src="{% static 'images/balgarka.jpg'%}" alt=""></div>
        <div class="zalivka"></div>
        <div class="balgarkatext">
            <h1>Завод Pro MK</h1>
            <p>Наша кампания использует современные энергосберегающие технологии, которые не вредят окружающей среде. Осуществляем полный контроль качества выпускаемой продукции на каждом этапе изготовления. Специалисты PRO MK обладают высоким профессиональным уровнем и постоянно проходят переквалификацию. PRO MK – это крупный производственный комплекс с высокими производственными мощностями, отделами продаж и проектирования.</p>
        </div>
    </div>
    <div class="history">
        <div class="history1"><h1>История Завода PRO MK</h1>
            <p>Наша кампания была основана в 2015 г. Год за годом мы покоряли рынок качеством продукции, скоростью реализации проектов и глубоким пониманием потребностей клиентов. Теперь мы одни из первых в своем деле.</p>
        </div>
        <div class="history2">
            <span>
                <p>Строительство объектов в любых погодных условиях</p>
            <p>Прочные и многофункциональные металлоконструкции</p>
            <p>Смелые решения в проектировании</p></span>
        </div>
    </div>
{% endblock body %}